Source: wine1.6
Section: oldlibs
Priority: extra
Maintainer: Graham Inggs <ginggs@ubuntu.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.winehq.org/

Package: wine1.6-i386
Architecture: i386
Multi-Arch: foreign
Depends: ${misc:Depends}
Replaces: wine-i386, wine1.4-i386, wine1.5-i386, wine (>= 1:1.6.2-0ubuntu1~)
Conflicts: wine-i386, wine (>= 1:1.6.2-0ubuntu1~)
Provides: wine-i386, wine1.4-i386, wine1.5-i386
Description: Microsoft Windows Compatibility Layer (32-bit support)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package includes a program loader for running unmodified Windows
 executables as well as the Wine project's free version of the Windows API for
 running programs ported from Windows.
 .
 This package provides support for loading 32-bit x86 Windows applications

Package: wine1.6-amd64
Architecture: amd64
Multi-Arch: foreign
Depends: ${misc:Depends}
Replaces: wine-amd64, wine1.4-amd64, wine1.5-amd64, wine (>= 1:1.6.2-0ubuntu1~)
Conflicts: wine-amd64, wine (>= 1:1.6.2-0ubuntu1~)
Provides: wine-amd64, wine1.4-amd64, wine1.5-amd64
Description: Microsoft Windows Compatibility Layer (64-bit support
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package includes a program loader for running unmodified Windows
 executables as well as the Wine project's free version of the Windows API for
 running programs ported from Windows.
 .
 This package provides support for loading 64-bit x86 Windows applications

Package: wine1.6
Architecture: amd64 i386
Multi-Arch: allowed
Depends: wine:all (<< 1:1.6.2-0ubuntu1~), wine:all (>= 1.8-1~), ${misc:Depends}, wine32 (>= 1.8-1~) [i386], wine64 (>= 1.8-1~) [amd64]
Conflicts: wine1.0, wine1.2, wine1.3, wine (>= 1:1.6.2-0ubuntu1~)
Replaces: wine1.0, wine1.2, wine1.3, wine1.4, wine1.5, wine (>= 1:1.6.2-0ubuntu1~)
Description: Microsoft Windows Compatibility Layer (Binary Emulator and Library)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package includes a program loader for running unmodified Windows
 executables as well as the Wine project's free version of the Windows API for
 running programs ported from Windows.

Package: wine1.6-dev
Architecture: amd64 i386
Depends: libwine-dev (>= 1.8.1~), ${misc:Depends}
Conflicts: wine-dev
Replaces: wine-dev
Provides: wine-dev
Description: Microsoft Windows Compatibility Layer (Development files)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package consists of the development files needed to compile programs
 using wine's free version of the Microsoft Windows API.

Package: wine1.6-dbg
Architecture: amd64 i386
Multi-Arch: same
Depends: ${misc:Depends}
Description: Microsoft Windows Compatibility Layer (debugging symbols)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package includes debugging symbols useful for reporting crashes and other
 failures.
