Source: wine1.6
Section: oldlibs
Priority: extra
Maintainer: Graham Inggs <ginggs@ubuntu.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.winehq.org/

Package: wine
Architecture: all
Multi-Arch: foreign
Depends: wine-stable, ${misc:Depends}
Description: Windows API implementation (transitional package)
 This package provides a real package wine as long as the migration to
 Debian's src:wine is ongoing.
 .
 It is not needed for the transition itself and can be safely removed.
