#!/usr/bin/make -f

# enable verbose build log
export DH_VERBOSE=1

# wine build fails with pie enabled
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie

VERSION=$(shell dpkg-parsechangelog | grep ^Source | cut -d\  -f2 | sed s/wine//g)
ifeq ($(VERSION), -development)
DEBSUFFIX=$(VERSION)
else
DEBSUFFIX=-stable
endif

DATADIR=/usr/share/wine$(VERSION)
INCLUDEDIR=/usr/include/wine$(VERSION)
LIBDIR=usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)/wine$(VERSION)
MANDIR=usr/share/man

# linker options
LDFLAGS+=-Wl,-rpath,/$(LIBDIR)

# use freebsd-glue on kfreebsd architectures
ifeq ($(DEB_BUILD_ARCH_OS), kfreebsd)
LDFLAGS+=-lfreebsd-glue
endif

# configure options
CONFLAGS=--without-hal \
	 --without-v4l \
	 --without-sane \
	 --without-capi \
	 --without-gphoto \
	 --without-gstreamer \
	 --disable-tests \
	 --libdir=/$(LIBDIR) \
	 --bindir=/$(LIBDIR) \
	 --mandir=/$(MANDIR) \
	 --datarootdir=$(DATADIR) \
	 --includedir=$(INCLUDEDIR) \
	 LDFLAGS="$(LDFLAGS)" \

# enable wine64 on amd64
ifeq ($(DEB_BUILD_ARCH_CPU), amd64)
CONFLAGS+=--enable-win64
endif

# additional files to generate
INSTALLS=$(shell ls debian/*VERSION* | sed s/VERSION/$(VERSION)/)

debian/control: debian/control.in debian/changelog debian/rules debian/patches/series
ifeq ($(VERSION), -development)
	(sed "s/VERSION/$(VERSION)/g;s/#development#//g" | grep -v "#stable#") < $< > $@
else
	(sed "s/VERSION/$(VERSION)/g;s/#stable#//g" | grep -v "#development#") < $< > $@
endif

debian/patches/series: debian/patches/series.in
ifeq ($(VERSION), -development)
	(sed "s/VERSION/$(VERSION)/g;s/#development#//g" | grep -v "#stable#") < $< > $@
else
	(sed "s/VERSION/$(VERSION)/g;s/#stable#//g" | grep -v "#development#") < $< > $@
endif

# all manpages (as long as they end in .1 as they currently do)
manpages:
	# remove links generated upstream, dh_link will regenerate them later.
	rm -f debian/tmp/$(MANDIR)/man1/wineg++.1
	rm -f debian/tmp/$(MANDIR)/man1/winecpp.1
	# main manpages: add DEBSUFFIX.
	for manpage in $(shell find debian/tmp/$(MANDIR)/man1 -type f) ; do \
	  mv $$manpage $$(dirname $$manpage)/$$(basename $$manpage .1)$(DEBSUFFIX).1 ; \
	done
	# translated manpages: add DEBSUFFIX and rename to contain language ll (name.ll.1).
	for manpage in $(shell find debian/tmp/$(MANDIR)/*/man1/ -type f) ; do \
	  mv $$manpage $$(echo $$manpage|sed "s|$(MANDIR)/\(.*\).UTF-8/man1/\(.*\).1|$(MANDIR)/man1/\2$(DEBSUFFIX).\1.1|") ; \
	done
	touch manpages

debian/wine$(VERSION)-doc%: debian/wineVERSION-doc% manpages
	(sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g;s/#development#//g" | grep -v "#stable#") < $< > $@

debian/wine$(VERSION)%: debian/wineVERSION%
	(sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g;s/#development#//g" | grep -v "#stable#") < $< > $@

debian/wine32$(VERSION)%: debian/wine32VERSION%
	sed s/VERSION/$(VERSION)/g < $< > $@

debian/wine64$(VERSION)%: debian/wine64VERSION%
	sed s/VERSION/$(VERSION)/g < $< > $@

debian/libwine$(VERSION)%: debian/libwineVERSION%
	sed s/VERSION/$(VERSION)/g < $< > $@

%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
	ln -sf /usr/share/misc/config.sub tools
	ln -sf /usr/share/misc/config.guess tools
	dh_auto_configure -- $(CONFLAGS)

override_dh_install: $(INSTALLS)
	mkdir -p debian/tmp
	cp debian/scripts/wine debian/tmp/wine$(DEBSUFFIX)
	cp tools/winedump/README debian/tmp/README.winedump
	cp programs/winedbg/README debian/tmp/README.winedbg
	cp debian/tmp/$(LIBDIR)/winecfg debian/tmp/wineapploader
	test -f debian/tmp/$(LIBDIR)/wine-preloader || \
	    cp debian/scripts/wine-preloader debian/tmp/$(LIBDIR)
	dh_install

override_dh_strip:
	dh_strip -Xwine-pthread -Xwine-kthread --dbg-package=libwine$(VERSION)-dbg

override_dh_clean:
	dh_clean -- \
	    $(INSTALLS) \
	    manpages \
	    debian/control \
	    debian/patches/series \
	    programs/cscript/ihost.h \
	    configure config.* tools/config.* include/config.h.in
	make -f debian/rules debian/control

